body{
    margin: 20px;
}

div{
    padding: 30px;
    margin: auto;
    
}
.leftDiv{
    float: left;
}

.rightDiv{
    margin-top: 30px;
    float: left;
    background-color: rgb(151, 25, 25);
    width: 200px;
    text-align: center;
}
h1{
    text-align: center;
}
.add{
    background-color: aqua;
}

.sub{
    background-color: coral;
}
.mul{
    background-color: rgb(19, 113, 196);
}
.div{
    background-color: greenyellow;
}

.result{
    padding: 10px;
    width: 100px;
    text-align: center;
    font-size: 60px;
    color: white;
}